<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jumbotron">
        <div class="container">
            <h2>{$Name} <i class="fa fa-calendar-check-o pull-right" aria-hidden="true"></i></h2>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><b>Beschreibung</b><i class="fa fa-info pull-right" aria-hidden="true"></i></h3>
        </div>
        <div class="panel-body">
            {$Beschreibung}
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-center">
                                        Preis
                                        <i class="fa fa-money pull-right" aria-hidden="true"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Mitglieder</th>
                                    <td class="pull-right">{$Preis_mitglieder} Fr.</td>
                                </tr>
                                <tr>
                                    <th>Nichtmitglieder</th>
                                    <td class="pull-right">{$Preis_nichtmitglieder} Fr.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-center">
                                        Teilnehmer
                                        <i class="fa fa-hashtag pull-right" aria-hidden="true"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><i class="fa fa-user" aria-hidden="true"></i> min</th>
                                    <td class="pull-right">{$Teilnehmer_min}</td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-users" aria-hidden="true"></i> max</th>
                                    <td class="pull-right">{$Teilnehmer_max}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-map-marker" aria-hidden="true"></i> <b>Treffpunkt:</b> {$Treffpunkt}</li>
                        <li class="list-group-item"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <b>Leitung:</b> {$Leitung}</li>
                        <li class="list-group-item"><b>Event:</b> {$Event}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><b>Besonderes</b><i class="fa fa-exclamation pull-right" aria-hidden="true"></i></h3>
        </div>
        <div class="panel-body">
            {$Besonderes}
        </div>
    </div>
</div>
{$courseday_panels}