<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jumbotron">
        <div class="container">
            <h2>{$Name} <i class="fa fa-calendar-check-o pull-right" aria-hidden="true"></i></h2>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><b>Beschreibung</b></h3>
        </div>
        <div class="panel-body">
            {$Beschreibung}
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jumbotron">
        <div class="container">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> <b>Treffpunkt:</b> <small>{$Treffpunkt}</small></p>
            <div class="row">
                <h4><i class="fa fa-hashtag" aria-hidden="true"></i> <b>Teilnehmer:</b></h4>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-user" aria-hidden="true"></i> min</th>
                                    <th><i class="fa fa-users" aria-hidden="true"></i> max</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{$Teilnehmer_min}</td>
                                    <td>{$Teilnehmer_max}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
            </div>
            <div class="row">
                <h4><i class="fa fa-money" aria-hidden="true"></i> <b>Preis:</b></h4>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Mitglieder</th>
                                    <th>Nichtmitglieder</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{$Preis_mitglieder} Fr.</td>
                                    <td>{$Preis_nichtmitglieder} Fr.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
            </div>
            <div class="row">
                <br>
                <p><i class="fa fa-user-circle-o" aria-hidden="true"></i> <b>Leitung:</b> {$Leitung}</p>
                <p><b>Event:</b> {$Event}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><b>Besonderes</b></h3>
        </div>
        <div class="panel-body">
            {$Besonderes}
        </div>
    </div>
</div>
{$courseday_panels}