<div class='row'>
    <div class='col-xs-1 col-sm-1 col-md-3 col-lg-3'></div>
    <div class='col-xs-10 col-sm-10 col-md-6 col-lg-6'>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Kurs hinzufügen <i class="btn btn-xs fa fa-plus-square fa-lg pull-right" aria-hidden="true" data-toggle="collapse" data-target="#collapse-create-new-course" href="#collapse-create-new-course" class="collapsed"></i>
                </h3>
            </div>
            <div id="collapse-create-new-course" class="panel-collapse collapse">
                <div class="panel-body">

                    <form action="manage/new_course" method="POST" role="form">
                        <div class="form-group">
                            <label for="">Titel</label>
                            <input type="text" class="form-control" id="" placeholder="Input field">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>