<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Modal -->
        <div class="modal fade" id="show_course_info_modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Kurs Info</h4>
                    </div>
                    <div class="modal-body">
                        {$modal_content}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class='col-xs-0 col-sm-1 col-md-3 col-lg-3'></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Alle Kurse <i class="btn btn-xs fa fa-calendar fa-lg pull-right" aria-hidden="true" data-toggle="collapse" data-target="#collapse-show-courses-table" href="#collapse-show-courses-table"></i>
                </h3>
            </div>
            <div id="collapse-show-courses-table" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class='row'>
                        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                            <div class='table-responsive'>
                                <table id="tbl_all_courses" class='table table-hover'>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Info</th>
                                            <th>löschen</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {$table_rows}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>