<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Alle Events <i class="btn btn-xs fa fa-calendar fa-lg pull-right" aria-hidden="true" data-toggle="collapse" data-target="#collapse-show-events-table" href="#collapse-show-events-table"></i>
        </h3>
    </div>
    <div id="collapse-show-events-table" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class='row'>
                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                    <div class='table-responsive'>
                        <table id="tbl_all_events" class='table table-hover'>
                            <thead>
                                <tr>
                                    <th>Titel</th>
                                    <th>Start</th>
                                    <th>Ende</th>
                                    <th>Phase 1</th>
                                    <th>Phase 2</th>
                                    <th>Anmeldeschluss</th>
                                    <th>sichtbar</th>
                                    <th>löschen</th>
                                </tr>
                            </thead>
                            <tbody>
                                {$table_rows}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>