<div class='row'>
    <div class='col-xs-1 col-sm-1 col-md-3 col-lg-3'></div>
    <div class='col-xs-10 col-sm-10 col-md-6 col-lg-6'>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Event hinzufügen <i class="btn btn-xs fa fa-plus-square fa-lg pull-right" aria-hidden="true" data-toggle="collapse" data-target="#collapse-create-new-event" href="#collapse-create-new-event" class="collapsed"></i>
                </h3>
            </div>
            <div id="collapse-create-new-event" class="panel-collapse collapse">
                <div class="panel-body">
                    <form action='manage/new_event' method='POST' class='form-horizontal' role='form'>
                        <div class='form-group'>
                            <label for='Titel' class='col-sm-2 control-label'>Titel:</label>
                            <div class='col-sm-10'>
                                <input type='text' name='Titel' id='Titel' class='form-control' pattern='[À-žA-Za-z0-9\s]+' required='required'>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for='event_start' class='col-sm-2 control-label'>Start:</label>
                            <div class='col-sm-10'>
                                <input type='datetime-local' name='event_start' id='event_start' class='form-control' placeholder='TT.MM.YYYY, HH:MM' required='required'>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for='event_ende' class='col-sm-2 control-label'>Ende:</label>
                            <div class='col-sm-10'>
                                <input type='datetime-local' name='event_ende' id='event_ende' class='form-control' placeholder='TT.MM.YYYY, HH:MM' required='required'>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for='phase1' class='col-sm-2 control-label'>Phase 1:</label>
                            <div class='col-sm-10'>
                                <input type='datetime-local' name='phase1' id='phase1' class='form-control' placeholder='TT.MM.YYYY, HH:MM' required='required'>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for='phase2' class='col-sm-2 control-label'>Phase 2:</label>
                            <div class='col-sm-10'>
                                <input type='datetime-local' name='phase2' id='phase2' class='form-control' placeholder='TT.MM.YYYY, HH:MM' required='required'>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for='anmeldeschluss' class='col-sm-3 control-label'>Anmeldeschluss:</label>
                            <div class='col-sm-9'>
                                <input type='datetime-local' name='anmeldeschluss' id='anmeldeschluss' class='form-control' placeholder='TT.MM.YYYY, HH:MM' required='required'>
                            </div>
                        </div>
                        <div class='checkbox'>
                            <label>
                                <input name='visible' type='checkbox' title='für den Benutzer bereits sichtbar?'>
                                sichtbar
                            </label>
                        </div>
                        <div class='form-group'>
                            <div class='col-sm-10 col-sm-offset-2'>
                                <button type='submit' class='btn btn-primary'>erstellen</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>