<div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
        <div class='table-responsive'>
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Start</th>
                        <th>Ende</th>
                        <th>Phase 1</th>
                        <th>Phase 2</th>
                        <th>Anmeldeschluss</th>
                        <th>sichtbar</th>
                        <th>löschen</th>
                    </tr>
                </thead>
                <tbody>
                    {$table_rows}
                </tbody>
            </table>
        </div>
    </div>
</div>